
{% assign companyName = "Company name" %}
{% assign mainText = "LorLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.em" %}
{% assign mainImage = "" %}
{% assign btnUrl = "" %}
{% assign middleText = "LorLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt" %}
{% assign middleImage = "" %}
{% assign middleText2 = "LorLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt" %}
{% assign getStart = "Ready to get started?" %}




<div class='about-us'>
  <div class="first_container luc-flex">

    <div class="first_container_left padding">
    
    <h2>{{companyName}}</h2>

    <p>{{mainText}}</p>

    <a href="{{btnUrl}}" class="btn"> Follow us now</a>

    </div>

    <div class="first_container_right padding">

    <img src="{{mainImage}}">
    </div>

  </div>

  <div class="second_container padding-top">
    <p>{{middleText}}</p>
    <img src="{{middleImage}}">
    <p>{{middleText2}}</p>
  </div>

  <div class="last_container padding-top luc-flex">
    <div class="last_container_text padding">
    <p>{{getStart}}</p>
    </div>
    
    <div class="last_container_btn">
      <a href="https://dev-challenge-sandbox.myshopify.com/collections/all" class="btn">Our Products</a>
    </div>
  </div>

</div>


{% schema %}
{
"name": "About us",
"settings": [

]
}
{% endschema %}